@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --background-color: #1e1e1e;
    --font-primary-color: #feffff;
    --primary-color: #FD6F00;

}
*{
    padding: 0;
    margin: 0;
    color: var(--font-primary-color);
    font-family: "Rubik", sans-serif;
}

.container{
    padding: 0px 60px;
    background-color: var(--background-color);
    color: var(--font-primary-color);
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .container{
        padding: 0px 10px;
       
    }
}


